html {
    width:100%;
}
*{
    box-sizing:border-box;
}
body { background-color: #f1eace;
    font-family: 'Playfair Display', sans-serif;
    padding:0; 
    margin:0;
    border:0; 
    width:100%;
    
}


img {
    display:block;
    width:20vw;
    height:20vw;

}
.squareContainer {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position:relative;
}
.intro {
    position: absolute;
    top: 120vw;
    left:20vw;
    background: rgb(248, 245, 241);
    width: 60vw;
    
    z-index:3;
    font-size: 3rem;
    padding:5vw 5vw 5vw 5vw;
    text-align: center;

}


.intro-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 1rem;
}

.intro-images img {
    width: 100%;
    height: auto;
}

.last-image {
    grid-column: span 2;
    margin-top: 1rem;
}

#k, #and3, #w {
    position: sticky;
    top:0;
    z-index:10;
}
button {
    background:none;
    color:#020202;
    border:2px solid;
    padding: 1rem 2rem;
    font-size:1rem;
    transition: all 0.25s;

}
button:hover {
    border-color:#be3e3a;
    color: rgb(0, 0, 0);
    box-shadow: 0 0.5em 0.5em -0.4em #be3e3a;
    transform: translateY(-0.25em)
}
#rsvp_link, #more_details_link{
    display:inline;
}
#rsvp {
    color:#020202;
    border: 4px solid;
    font-weight: 600;
}
#rsvp:hover {
    border-color:#be3e3a;
    color: rgb(0, 0, 0);
    box-shadow: 0 0.5em 0.5em -0.4em #be3e3a;
    transform: translateY(-0.25em)
}
#time, #delighted {
    font-size: 2rem;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .intro {
        position: absolute;
        top: 220vw;
        left:20vw;
        background: rgb(248, 245, 241);
        width: 60vw;
        font-size: 2rem;
    }
    #time, #delighted {
        font-size: 1rem;
        font-style: italic;
    }
    button {
        margin:1rem;
    }

  }
  @media screen and (min-width: 601px) {
    .small_screen {
        display:none;
      
  }
